@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(251, 248, 248);
}

nav{
    height: 100px;
    background-color: rgb(36, 36, 36);
    width: 100%;
}
.logo img{
height: 100px;
width: 100%;
}

.nav-item {
    padding: 5px;
    margin: 5px;
    transition: 500ms;
}

.nav-item:hover {
    padding: 5px;
    background-color: white; /* Arka plan beyaz olacak */
    color: black; /* Metin rengi siyah olacak */
    border-radius: 50px;
    transition: 500ms;
}

.active {
    background-color: white; /* Aktif durumda arka plan beyaz */
    color: black; /* Aktif durumda metin rengi siyah */
    border-radius: 50px;
}

.nav-link {
    text-decoration: none; /* Alt çizgi kaldırıldı */
    color: white; /* Varsayılan metin rengi beyaz */
    font-family: "Jaro", sans-serif;
}

.nav-link:hover {
    color: black; /* Hover durumunda metin siyah olacak */
}




.offcanvas-body{
    background-color: rgb(36, 36, 36);
}
.offcanvas-header{
    background-color: rgb(36, 36, 36);
}
.sepet{
    position: relative;
}
.sepet a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.bag-slider{
    position: relative;
    z-index: 999;
}

.bag-slider img{
    border-radius: 50px;
    
  }
.bag-header{
    font-family: "Jaro", sans-serif;
    font-size: 25px;
    text-transform: uppercase;

}
.bag-header-color{
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 50px;
}
.bag-header-dimenson{
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 50px;
}
.bag-header-dimenson i{
font-size: 20px;
}
.bag-header-color i{
    font-size: 20px;
    }
.bag-color img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.bag-dimension img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
#white{
    border:2px solid rgb(0, 0, 0);
}

.nokta{
    background-color: red;
    border-radius: 100px;
    text-align: center;
    width: 15px;
    position: absolute;
    bottom: 55%;
    left: 70%;
    font-size: 10px;
    
}


.price-tag{
    position: relative;
    right: 8%;
    top: 50%;
}
.tag-text{
    position: relative;
    left: 20%;
    bottom: 50%;
    color: white;
    font-size: 35px;
    font-family: "Jaro", sans-serif;
}
.price-tag img{
width: 100%;
}
.bags-header{
     text-transform: uppercase;
     color: black;
     font-size: 30px;
     font-family: "Jaro", sans-serif;
}

.end-bags{
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    text-align: center;

    border-right: 0px solid red;
    border-top: 0px solid red;
    border-left: 0px solid red;
    border-bottom: 0px solid red;

    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    font-family: "Jaro", sans-serif;

  animation: spin 2s linear infinite;
  transition: 500ms;
}


@keyframes spin {
    0% {
      border: 5px solid transparent;
      border-top: 5px solid red; 
    }
    25% {
      border: 5px solid transparent;
      border-right: 5px solid red;
    }
    50% {
      border: 5px solid transparent;
      border-bottom: 5px solid red; 
    }
    75% {
      border: 5px solid transparent;
      border-left: 5px solid red; 
    }
    100% {
      border: 5px solid transparent;
      border-top: 5px solid red;
    }

}


.basket-button button{
    border: none;
    text-transform: capitalize;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    font-family: "Jaro", sans-serif;
    position: relative;
    bottom: 90%;
}
.basket-button i{
position: relative;
left:-25%;

}
@keyframes baskethover {
    0% {
        left:-25%;
    }
    50% {
        left:65%;
    }


}
@keyframes basketover {
    0% {
        left:60%;
    }
    50% {
        left:-25%;
    }


}


@media screen and (max-width: 1399px) {
    /* Tablet ekranlar için CSS */

    
}

@media screen and (max-width: 1199px) {
    /* Tablet ekranlar için CSS */

    
}

@media screen and (max-width: 991px) {
    /* Tablet ekranlar için CSS */

    
}

@media screen and (max-width: 767px) {
    /* Tablet ekranlar için CSS */

    
}

@media screen and (max-width: 575px) {
    .tag-img{
        display: none;
    }
    .tag-text{
        position: relative;
        left: 12%;
        bottom: 50%;
        color: rgb(36, 36, 36);
        font-size: 35px;
        font-family: "Jaro", sans-serif;
    }
    
}