@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');


body{
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(48, 48, 48)
    
}

.navbar-brand{
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Fontdiner Swanky', cursive;
}
.offcanvas{
    background-color: rgb(48, 48, 48)
}
.offcanvas-title{
    color: white;
    text-decoration: none;
    font-size: 200%;
    font-family: 'Fontdiner Swanky', cursive;
}
.nav-item{
    transition: 500ms;
    padding: 5px;
    margin: 5px;
}
.nav-item:hover{
    background-color: rgb(174, 0, 197);
    transition: 500ms;
    border-radius: 10px;
}
.active{
    background-color: rgb(174, 0, 197);
    border-radius: 10px;
}
.nav-link{
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
}

button i{
    color: white;
    font-size: 150%;
}

/*profil*/

.box{
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    position: relative;
    align-items: center;
}

.profil-img{
    position: relative;
    left: 0%;
}
.profil-img img{
    width: 100%;
    border-radius: 500px;
}
.hakkimda{
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
}
.dil img{
    width: 100%;
}
.resim img{
    width: 105%;
    border-radius: 5px;
    border: solid 1px rgba(128, 128, 128, 0.336);
    cursor: pointer;
}
.resim button{
    border: 0;
    background-color: white;
}
.resim i{
    font-size: 20px;
    position: absolute;
    margin: 15px;
    color: gray;
}
.resim:hover{
opacity: 0.8;
transition: 200ms;
}
.modal-body img{
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .profil-img{
        position: relative;
        left: 25%;
    }
    .hakkimda{
        font-family: 'Urbanist', sans-serif;
        font-size: 10px;
    }
  }