body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}
nav{
    background-color: rgb(157, 0, 255);
    position: fixed;
    min-width: 20%;
    height: 100%;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav-items{
    padding-top: 300px;
}
.nav-items i{
    margin-right: 10px;
}
.nav-items a{
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: capitalize;   
    color: white;
    display:flex;
    padding-left: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2vh;
    transition: 500ms;
}
.nav-items a:hover{
    background-color: white;
    color: black;
    transition: 500ms;
}
@media only screen and (max-width: 800px) {
    nav{
        min-width: 30%;
    }
    .nav-items a{
        font-size: 3vw;
    }
  }
  .project-search{
    background-color:rgb(157, 0, 255);
    width: 40%;
    height: 5vw;
    left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }
  .project-search input[type='text']{
    width: 50%;
    height: 2vw;
    border: none;
    position: relative;
    background-color: white;border-radius: 5px;
    top: 1vw;
    font-size: 1vw;
  }
  .project-search input[type='text']:focus{
    outline: none;
  }